<div class="o-widget">

  {% if widget_title %}
    <div class="o-widget__title">{{ widget_title }}</div>
  {% endif %}

  {% if facebook_link != blank %}
    <div class="fb-page" data-href="{{ facebook_link }}" data-tabs="timeline" data-width="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="{{ facebook_link }}" class="fb-xfbml-parse-ignore"><a href="{{ facebook_link }}">{{ facebook_link_name }}</a></blockquote></div>
  {% endif %}

</div>
