{% if btn_href %}
  <a class="c-flying-button" href="{{ btn_href }}" title="{{ btn_text }}">

    {% if btn_icon %}
      <svg class="o-icon o-icon-{{ btn_icon }}">
        <use xlink:href="#o-icon-{{ btn_icon }}"></use>
      </svg>
    {% endif %}

    {% if btn_text %}
      <span class="u-hidden-visually">{{ btn_text }}</span>
    {% endif %}

  </a>
{% endif %}
