{% assign total_pages = posts.total_pages %}

{%- if posts.per_page < posts.total_entries -%}
  <div class="c-pagination">

    {% if posts.has_previous_page %}
      <a class="c-pagination__arrow c-pagination__arrow--prev" href="{{ context.location.href }}?page={{ posts.current_page | minus: 1 }}">

        <svg class="o-icon o-icon-arrow-left">
          <use xlink:href="#o-icon-arrow-left"></use>
        </svg>

        <span class="u-hidden-visually">Previous page</span>

      </a>
    {% endif %}

    {% if total_pages < max_full_pagination %}
      {% for page in (1..total_pages) %}
        <a class="c-pagination__nr{% if page == posts.current_page %} is-current{% endif %}" href="{{ context.location.href }}?page={{ page }}">{{ page }}</a>
      {% endfor %}
    {% else %}
      {% assign pagination_left = posts.current_page | minus: max_side_pagination | minus: 1 %}
      {% if pagination_left >= 1 %}
        <a class="c-pagination__nr" href="{{ context.location.href }}?page=1">1</a>
        <div class="c-pagination__nr">...</div>
      {% endif %}
      {% for page in (1..total_pages) limit: max_side_pagination offset: pagination_left %}
        <a class="c-pagination__nr" href="{{ context.location.href }}?page={{ page }}">{{ page }}</a>
      {% endfor %}

      <a class="c-pagination__nr is-current" href="{{ context.location.href }}?page={{ posts.current_page }}">{{ posts.current_page }}</a>

      {% assign pagination_right = posts.current_page | plus: max_side_pagination %}
      {% for page in (1..total_pages) limit: max_side_pagination offset: posts.current_page %}
        <a class="c-pagination__nr" href="{{ context.location.href }}?page={{ page }}">{{ page }}</a>
      {% endfor %}
      {% if pagination_right < total_pages %}
        <div class="c-pagination__nr">...</div>
        <a class="c-pagination__nr" href="{{ context.location.href }}?page={{ total_pages }}">{{ total_pages }}</a>
      {% endif %}
    {% endif %}

    {% if posts.has_next_page %}
      <a class="c-pagination__arrow c-pagination__arrow--next" href="{{ context.location.href }}?page={{ posts.current_page | plus: 1 }}">

        <span class="u-hidden-visually">Next page</span>

        <svg class="o-icon o-icon-arrow-right">
          <use xlink:href="#o-icon-arrow-right"></use>
        </svg>

      </a>
    {% endif %}

  </div>
{%- endif -%}
