{%- capture post_href -%}/blog/post/{{ slug }}/{{ post_item.slug }}{%- endcapture -%}

<article class="c-post{% if is_featured %} c-post--feature{% endif -%}">

  {%- if post_item.hero_image.transformed -%}
    <a class="c-post__picture-cont" href="{{ post_href }}">
      <div class="c-post__picture u-lazy-load" data-src="{{ post_item.hero_image.transformed }}" data-lazy-load>
      </div>
    </a>
  {%- endif -%}

  <div class="c-post__body">

    <h2 class="c-post__title">

      <a href="{{ post_href }}">
        {{ post_item.title }}
      </a>

    </h2>

    <div class="c-post__meta">

      <div class="c-post__date">
        {{ post_item.published_at | localize: 'long' }}
      </div>

      {%- if post_item.tags -%}
        <span class="c-post__meta-separator">|</span>

        <ul class="c-post__tags">

          {%- for post_tag in post_item.tags -%}
          <li class="c-post__tags-item">
              <a class="c-post__tags-link" href="/blog/category/{{ post_tag | replace: ' ', '-' }}">
                {{ post_tag }}
              </a>
            </li>
          {%- endfor -%}

        </ul>
      {%- endif -%}
    </div>

    <div class="c-post__text">
      {%- if post_item.excerpt -%}
        {{ post_item.excerpt }}
      {%- else -%}
        {{ post_item.content | truncate: 200, '...' }}
      {%- endif -%}
    </div>

  </div>

</article>

