{% assign page_url_encode = page_url | url_encode %}

<div class="c-share-list o-component">

  {% if title %}
    <div class="c-share-list__title">{{ title }}</div>
  {% endif %}

  <div class="c-social-list c-social-list--color o-list-inline">

    <a class="c-social-list__item o-icon-facebook" href="http://www.facebook.com/sharer.php?u={{ page_url_encode }}" target="_blank" rel="noopener" data-social-sharing>
      <svg class="o-icon"><use xlink:href="#o-icon-facebook"></use></svg>
    </a>

    <a class="c-social-list__item o-icon-twitter" href="http://twitter.com/share?text={{ text | url_encode }}&url={{ page_url_encode }}" target="_blank" rel="noopener" data-social-sharing>
      <svg class="o-icon"><use xlink:href="#o-icon-twitter"></use></svg>
    </a>

    <a class="c-social-list__item o-icon-linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url={{ page_url_encode }}" target="_blank" rel="noopener" data-social-sharing>
      <svg class="o-icon">
        <use xlink:href="#o-icon-linkedin"></use>
      </svg>
    </a>

  </div>

</div>
