<div class="c-siblings-nav o-component">

  {%- query_graph 'modules/dashboard_blog/get_blog_posts', result_name: prev_post_query, published_at_lt: blog_post.published_at, blog_instance_id: blog_post.blog_instance_id %}
  {% assign previous_post = prev_post_query.customizations.results.first %}

  {% if previous_post %}
    <a class="c-siblings-nav__link c-siblings-nav__link--prev" href="/blog/post/{{ blog_instance.slug }}/{{ previous_post.slug }}">

      <svg class="o-icon o-icon-arrow-left">
        <use xlink:href="#o-icon-arrow-left"></use>
      </svg>

      {{ previous_post.title }}

    </a>
  {% endif %}

  {%- query_graph 'modules/dashboard_blog/get_blog_posts', result_name: next_post_query, published_at_gt: blog_post.published_at, published_at_lte: today, blog_instance_id: blog_post.blog_instance_id -%}
  {% assign next_post = next_post_query.customizations.results.last %}

  {%- if next_post -%}
    <a class="c-siblings-nav__link c-siblings-nav__link--next" href="/blog/post/{{ blog_instance.slug }}/{{ next_post.slug }}">

      {{ next_post.title }}

      <svg class="o-icon o-icon-arrow-right">
        <use xlink:href="#o-icon-arrow-right"></use>
      </svg>

    </a>
  {% endif %}

</div>
