---
slug: 'dashboard/blog'
format: html
layout_name: 'modules/dashboard/dashboard'
authorization_policies:
  - 'modules/dashboard_blog/instance_blog_edition'
  - 'modules/dashboard/dashboard_access'
---
{% include "modules/dashboard_blog/blog/admin/commons" %}
{% parse_json "_utils" %}
  {% include 'modules/utils/init' %}
{% endparse_json %}

{% assign pagination_per_page = params.per_page | default: 15 | plus: 0 %}
{% assign pagination_page = params.page | default: 1 | plus: 0 %}

{%- capture url_template -%}
{% if params.language %}/{lang}{%- endif -%}/blog/admin/{slug}
{%- endcapture -%}
{% assign url_params = context.location.href | extract_url_params: url_template %}

{%- include _utils.flash_messages -%}
{%- query_graph 'modules/dashboard_blog/get_blog_instance', result_name: bi, scope: 'blog' -%}
{% assign blog_instance = bi.customizations.results.first %}

{%- query_graph 'modules/dashboard_blog/get_blog_posts', result_name: g, blog_instance_id: blog_instance.id, tags: params.tags, page: pagination_page, per_page: pagination_per_page -%}
{% assign blog_posts = g.customizations %}

<a class="btn btn-info float-right" href="/">Back to Blog</a>
{%- include 'modules/dashboard_blog/blog/admin/navigation' -%}
<section class="o-section blog-admin">
  <div class="o-container">
    <table class="table table-borderless pb-5">
      <tr class="u-text-left">
        <th>Title</th>
        <th>Author</th>
        <th>Published At</th>
        <th>Actions</th>
      </tr>
      {% for blog_post in blog_posts.results %}
        <tr>
          <td><a href="/blog/post/{{ blog_instance.slug }}/{{ blog_post.slug }}">{{ blog_post.title }}</a></td>
          <td>{{ blog_post.author_name }}</td>
          <td>{{ blog_post.published_at | localize: 'long' }}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <a href="/dashboard/posts/edit/{{ blog_post.id }}" class='btn btn-link'>Edit</a>
              {% include_form 'modules/dashboard_blog/blog_post_delete', id: blog_post.id %}
            </div>
          </td>
        </tr>
      {% endfor %}
    </table>

    <div class="mt-5">
      {% include _utils.pagination, total_pages: blog_posts.total_pages, total_entries: blog_posts.total_entries, per_page: pagination_per_page, page: pagination_page %}
    </div>
</section>
