{% parse_json "_utils" %}
  {% include 'modules/utils/init' %}
{% endparse_json %}

{% assign pagination_per_page = params.per_page | default: 15 | plus: 0 %}
{% assign pagination_page = params.page | default: 1 | plus: 0 %}
{%
  query_graph "modules/dashboard/get_users", result_name: "users",
  per_page: pagination_per_page,
  page: pagination_page
%}
<h2>Users List</h2>

{% include _utils.flash_messages %}
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for user in users.users.results %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.email }} </td>
          <td>{% if user.dashboard.admin == "true" %}Administrator{% else %}User{% endif %}</td>
          <td>
            <a class='btn btn-link' href="/dashboard/users/edit/{{ user.id }}">Edit</a>
          </td>
          <td>
            {% include_form 'modules/dashboard/delete_user_form', id: user.id %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="mt-5">
    {% include _utils.pagination, total_pages: users.users.total_pages, total_entries: users.users.total_entries, per_page: pagination_per_page, page: pagination_page %}
  </div>
</div>
