<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Digital Marketing Strategy Specialists - One Orange Cow</title>
<link type="text/css" href="{{ 'styles/ooc_css/ModuleStyleSheets.css' | asset_url }}" rel="StyleSheet" />
<script type="text/javascript">
var jslang = 'EN';
</script>
<link href="{{ 'images/apple-touch-icon.png' | asset_url }}" rel="apple-touch-icon" />
<link href="{{ 'images/apple-touch-icon-152x152.png' | asset_url}}" rel="apple-touch-icon" sizes="152x152" />
<link href="{{ 'images/apple-touch-icon-167x167.png' | asset_url}}" rel="apple-touch-icon" sizes="167x167" />
<link href="{{ 'images/apple-touch-icon-180x180.png' | asset_url}}" rel="apple-touch-icon" sizes="180x180" />
<link href="{{ 'images/icon-hires.png' | asset_url}}" rel="icon" sizes="192x192" />
<link href="{{'images/icon-normal.png' | asset_url}}" rel="icon" sizes="128x128" />

<link href="{{ 'styles/ooc_css/style.css' | asset_url }}" type="text/css" rel="StyleSheet" />
<link href="{{ 'styles/ooc_css/iphone-v.css' | asset_url }}" rel="stylesheet" type="text/css" media="only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation:portrait)" />
<link href="{{ 'styles/ooc_css/iphone-h.css' | asset_url }}" rel="stylesheet" type="text/css" media="only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation:landscape)" />
<link href="{{ 'styles/ooc_css/small-v.css' | asset_url }}" rel="stylesheet" type="text/css" media="only screen and (min-width: 0px) and (max-width: 479px)" />
<link href="{{ 'styles/ooc_css/small-h.css' | asset_url }}" rel="stylesheet" type="text/css" media="only screen and (min-width: 480px) and (max-width: 699px)" />
<link href="{{ 'styles/ooc_css/medium-v.css' | asset_url }}" rel="stylesheet" type="text/css" media="only screen and (min-width: 700px) and (max-width: 939px)" />
<link href="{{ 'styles/ooc_css/medium-h.css' | asset_url }}" rel="stylesheet" type="text/css" media="only screen and (min-width: 940px) and (max-width: 1179px)" />
<link href="{{ 'styles/ooc_css/big.css' | asset_url }}" rel="stylesheet" type="text/css" media="only screen and (min-width: 1180px)" />

<script src="{{ 'scripts/ooc_js/jquery.min.js' | asset_url }}" type="text/javascript" language="javascript"></script>
<script src="{{ 'scripts/ooc_js/menu.js' | asset_url }}" type="text/javascript" language="javascript"></script>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<meta property="og:site_name" content="One Orange Cow" />
<meta name="google-site-verification" content="59VLRbKjAZyAct3sqYH8weeSymczr8RZ87eiBGyLMM4" />
<meta property="fb:pages" content="145449278970442" />
<!-- <link rel="manifest" href="/manifest.json"> -->
<meta name="theme-color" content="#008000">
<meta name="description" content="One Orange Cow provides Online Business Growth planning and management for businesses in NSW." />