<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ 'images/favicon.ico' | asset_url }}" type="image/x-icon">

    {%- include 'modules/dashboard/layouts/dashboard/meta-title' -%}

    <!-- Bootstrap core CSS -->
    <link href="{{ 'modules/dashboard/stylesheets/bootstrap.min.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'modules/dashboard/stylesheets/bootstrap-select.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'modules/dashboard/stylesheets/dashboard.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'modules/dashboard/stylesheets/trumbowyg.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'modules/dashboard/stylesheets/vendor.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'modules/dashboard/stylesheets/admin.css' | asset_url }}" rel="stylesheet">

    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">

    {% yield 'head_content' %}
  </head>

  <body>
    {%- query_graph 'modules/dashboard/dashboard_current_user', result_name: dashboard_current_user -%}
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Home</a>
      {% comment %} <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> {% endcomment %}
      <ul class="nav navbar-nav flex-row float-right">
        <li class="nav-item p-2 text-light">
          {{ dashboard_current_user.current_user.first_name }}
        </li>
        <li class="nav-item text-nowrap text-light">
          {% include_form "modules/signup/log_out" %}
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        {% include 'modules/dashboard/layout/sidebar' %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          {{ content_for_layout }}
        </main>
      </div>
    </div>

    {% include 'modules/dashboard/layouts/dashboard/javascripts' %}
  </body>
</html>
